{% extends 'index.html' %}
{% block title %}Про нас{% endblock %}
{% block content %}
<h1 class="text-center">Про нас та про наш магазин</h1>
<p>Ми знаходимося в славетному місті Білопілля на вулиці Супруна (мітка зображена на карті нижче)</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1251.4423842898682!2d34.31203493285071!3d51.14747602261656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412971f313def88f%3A0xb27a350c1e3eed22!2sDytyachyy%20Mahazyn%20%22Kazka%22!5e0!3m2!1sru!2sua!4v1621942244679!5m2!1sru!2sua"
width="100%"
height="450" 
style="border:0;" 
allowfullscreen="" 
loading="lazy">
</iframe>
<p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, 
    porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat 
    a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam 
    ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas 
    tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. 
    Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt 
    tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget 
    eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec
    odales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
</p>
{% endblock %}