<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product:{{ product.title }}</title>
</head>
<body>
    <!--
    <table class="table">
        <tbody>
            <tr>
                <td>Сезон:</td>
                <td>{{ product.sizon }}</td>
            </tr>
            <tr>
                <td>Розмір:</td>
                <td>{{ product.size }}</td>
            </tr>
            <tr>
                <td>Вік:</td>
                <td>{{ product.age }}</td>
            </tr>
            <tr>
                <td>Бренд:</td>
                <td>{{ product.brend }}</td>
            </tr>
            <tr>
                <td>Матеріал:</td>
                <td>{{ product.material }}</td>
            </tr>
        </tbody>
    </table>
-->
<h6>Сезон     : {{ product.sizon }}</h6>
<h6>Розмір    : {{ product.size }}</h6>
   {% if size_of_prod.variants.all %}
  <h6>Доступні розміри    : </h6>
    {% for sizes in size_of_prod.variants.all %}
    <a href="{% url 'pro_det' sizes.category.parent.slug sizes.slug %}"><button type="button" class="btn btn-light">{{ sizes.size }}</button></a>
    {% endfor %}
  {% endif %} 
<h6>Вік       : {{ product.age }}</h6>
<h6>Матеріал  : {{ product.material }}</h6>
<h6>Бренд     : {{ product.brand }}</h6>
</body>
</html>