{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block title %}Kazka{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Головна</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cart_det' %}">Кошик</a></li>
      <li class="breadcrumb-item active" aria-current="page">Оформлення замовлення</a></li>
    </ol>
</nav>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}
<h3 class="text-center mt-5 mb-5">Оформлення замовлення</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Назва товару</th>
            <th scope="col">Фото</th>
            <th scope="col">Ціна</th>
            <th scope="col">Кількість</th>
            <th scope="col">Кінцева сумма</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.product_in_cart.all %}
        <tr>
            <th scope="row">{{ item.product.title }}</th>
            <td class="w-25"><img src="{{ item.product.photo.url }}" class="img-fluid"></td>
            <td>{{ item.product.price }}</td>
            <td>
                {{ item.qty }}
                {% if item.product.category.parent.slug == 'baby' %}
                <h6>Розмір: {{ item.product.baby.size }}</h6>
                {% elif item.product.category.parent.slug == 'boy' %}
                <h6>Розмір: {{ item.product.boy.size }}</h6>
                {% elif item.product.category.parent.slug == 'girl' %}
                <h6>Розмір: {{ item.product.girl.size }}</h6>
                {% endif %}
            </td>
            <td>{{ item.final_price }} грн.</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td>Разом:</td>
            <td>{{ cart.final_count_of_items }}</td>
            <td><strong>{{ cart.final_price }} грн.</strong></td>
        </tr>
    </tbody>
</table>
<hr>
<form action="{% url 'make_order' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success btn-block mb-3" value="Оформити замовлення">
</form>
{% endblock %}