{% extends 'index.html' %}
{% block title %}Контакти{% endblock %}
{% block content %}
<h1 class="text-center">Контакти</h1>
<!-- <div class="col-lg-4 col-md-6 mb-4">
    <div class="col mb-5">
    <div class="card h-100">
        <h4>Напиши нам</h4>
    </div>
    <div class="card-body p-4">
        <h6>+38 066 396 79 80</h6>
        <h6>+38 066 396 79 80</h6>
        <h6>+38 066 396 79 80</h6>
    </div>
    </div>
    <div class="col mb-5">
        <div class="card h-100">
            <h4>Напиши нам</h4>
        </div>
        <div class="card-body p-4">
            <h6>+38 066 396 79 80</h6>
            <h6>+38 066 396 79 80</h6>
            <h6>+38 066 396 79 80</h6>
        </div>
        </div>
</div> -->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Напиши нам</h5>
                                    <!-- Product price-->
                                    +38 066 396 79 80
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Подзвони нам</h5>
                                    <!-- Product price-->
                                    +38 066 396 79 80
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Наша пошта</h5>
                                    <!-- Product price-->
                                    test@gmail.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}