{% extends 'index.html' %}
{% load mptt_tags %}
{% block title %}{{ product.title }}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Головна</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cat_det' product.category.slug %}">{{ product.category }} ({{ product.category.parent }})</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    </ol>
  </nav>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-4">
      {% if product.new_product == True %}
      <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">NEW</div>
      {% endif %}
      <a><img src="{{ product.photo.url }}" class='img-fluid'></a>
    </div>
      <div class="col-md-8">
        <h3 class="card-title">
          <a>{{ product.title }}</a>
        </h3>
        <h4>Ціна    : {{ product.price }} грн.</h4>
        <h6>Опис    : {{ product.description }}</h6>

        {% if product.category.parent.slug == 'boy' %}
            {% include 'boy_girl_baby_product.html' %}
        {% elif product.category.parent.slug == 'girl' %}
            {% include 'boy_girl_baby_product.html' %}
        {% elif product.category.parent.slug == 'baby' %}
            {% include 'boy_girl_baby_product.html' %}
        {% elif product.category.parent.slug == 'toys' %}
            {% include 'toys_product.html' %}
        {% else %}
            {% include 'sport_product.html' %}
        {% endif %}
        <a href="{% url 'add-to-cart' ct_model=product.category.parent.slug slug=product.slug %}"><button class="btn btn-outline-primary">В кошик</button></a>
      </div>
  </div>
{% endblock %}